div{
	width: 200px;
	height: 200px;
	position: static;
	
}
.azul{
	background-color: blue;
	left: 0px;
	top: 0px;
}
.morado{
	background-color:purple;
    right: 0px;
    top: 0px;
    
    
}
.verde{
	background-color: green;
	margin-left: 200px;

	position: absolute;
	
}
.amarillo{
	background-color: yellow;
	right: 0px;
	bottom: 0px;
}
